<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="testngPrograms.GoogleApplicationWithBeforeAfterTest"/>
      <class name="testngPrograms.SampleTesting"/>
      <class name="testngPrograms.LoginTestCaseWithPriority"/>
      <class name="testngPrograms.LoginTestCaseWithTimeOut"/>
      <class name="testngPrograms.LoginTestCaseWithDependsOnMethod"/>
      <class name="testngPrograms.GoogleApplicationWithBeforeAfterTestMethod"/>
      <class name="testngPrograms.LoginTestCaseWithEnable"/>
      <class name="testngPrograms.ActiTimeLoginWithAssertCondition"/>
      <class name="testngPrograms.LoginTestCaseWithDescription"/>
      <class name="testngPrograms.LoginTestCase"/>
      <class name="testngPrograms.ActiTimeLogin"/>
      <class name="testngPrograms.GoogleApplicationWithBeforeAfterMethod"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
